@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

@media screen and (max-width: 768px) {
    
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #ffffff;
    background-image: url('http://127.0.0.1:5501/img/fondoo.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.deco{
    margin-left: 200px;
    margin-top: 200px;
    background-color: aqua;
}

.vidi{
    margin-top: 15px;
    margin-left: 450px;
    width: 890px;
    height: 500px;
}

.vidi:hover {
    box-shadow: 0 0.5rem 0.9rem rgb(8, 42, 209);
}

button {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 75px;
    height: 100%;
    background: #3a3b6f;
    transition: all 0.4s;
}

.sidebar:hover {
    box-shadow: 0 0.2rem 0.5rem crimson;
}

body.open .sidebar {
    width: 240px;
}

.sidebar-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
}

.sidebar-header {
    display: flex;
    align-items: center;
    height: 68px;
    padding: 0 1.25rem 0 0;
    background: rgba(0, 0, 0, 0.1);
    border-left: 3px solid transparent;
    transition: all 0.4s;
}

.sidebar-header:hover {
    border-left: 3px solid #bdbdbd;
}

.sidebar-burger {
    width: 70px;
    height: 70px;
    display: grid;
    place-items: center;
}

.sidebar-burger > i,
body.open .sidebar-burger > i {
    font-size: 25px;
    color: #f9f9f9;
    transition: all 0.4s;
}

.sidebar-burger:hover > i,
body.open .sidebar-burger:hover > i {
    color: #bdbdbd;
}

.sidebar-logo {
    height: 30px;
    opacity: 0;
    transition: all 0.4s;
}

body.open .sidebar-logo {
    opacity: 1;
    transition: all 0.4s;
}

.sidebar-menu {
    display: grid;
}

.sidebar-menu > button {
    display: flex;
    gap: 12px;
    align-items: center;
    height: 55px;
    font-family: "Ubuntu";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1;
    padding: 0 22px;
    border-left: 3px solid transparent;
    transition: all 0.4s;
}

.sidebar-menu > button:hover {
    border-left: 3px solid #f9f9f9;
}

.sidebar-menu > button.has-border {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    margin-bottom: 1rem;
}

.sidebar-menu > button > i {
    font-size: 25px;
    color: #f9f9f9;
    transition: all 0.4s;
}

.sidebar-menu > button:hover > i,
.sidebar-menu > button:hover > span {
    color: #bdbdbd;
}

.sidebar-menu > button > span {
    color: #f9f9f9;
    opacity: 0;
    transition: all 0.4s;
}

body.open .sidebar-menu > button > span {
    opacity: 1;
    transition: all 0.4s;
}

/* ..................................*/
.carousel {
    position: relative;
    height: 500px;
    width: 1300%;
    max-width: 1300px;
    margin: 20px auto;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
}

.carousel:hover {
    box-shadow: 0 0.2rem 0.5rem crimson;
}

.carousel-images {
    display: flex;
    width: 100%;
}

.carousel-images img {
    width: 100%;
    height: 500px; 
    object-fit: cover; 
    display: none;
}

/* ..................................... */
.te{
    height: 140px;
    font-size: 80px;
    margin-top: 55px;
    margin-left: 230px;
}

.carousel:hover {
    box-shadow: 0 0.2rem 0.5rem rgb(93, 220, 20);
}

.vi{
    margin-left: 200px;
    height: 460px;
    width: 830px;
}

.vii{
    height: 420px;
    width: 755px;
}


.carousel-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.carousel-buttons button {
    font-size: 22px;
    width: 300px;
    height: 300px;
    border-radius: 10%;
    background-color: #ffffff;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s;
    background-image: url('http://127.0.0.1:5501/img/btn.png'); /* Ruta a la imagen */
    background-size: cover; /* Hace que la imagen cubra todo el botón */
    background-position: center; /* Centra la imagen dentro del botón */
    background-repeat: no-repeat;
}

.carousel-buttons button:hover {
    background-color: #bbb;
}

/* ..................................... */
.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 20px 0;
}

.image-grid img {
    width: 100%;
    height: 460px;
    object-fit: cover;
    border-radius: 10px;
}
