<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Clientes</title>
    <style>
        /* Estilos adicionales pueden ser agregados aquí */
    </style>
</head>
<body>
    <div class="container2">
    <h2>Lista de Clientes</h2>
    <form method="get" action="{{ url_for('cliente') }}">
        <input type="text" name="search" placeholder="Buscar..." value="{{ search_query }}">
        <select name="search_field">
            <option value="id_cliente" {% if search_field == 'id_cliente' %}selected{% endif %}>ID</option>
            <option value="nombre" {% if search_field == 'nombre' %}selected{% endif %}>Nombre</option>
            <option value="apellido" {% if search_field == 'apellido' %}selected{% endif %}>Apellido</option>
            <option value="fecha_nacimiento" {% if search_field == 'fecha_nacimiento' %}selected{% endif %}>Fecha Nacimiento</option>
            <option value="email" {% if search_field == 'email' %}selected{% endif %}>Email</option>
            <option value="telefono" {% if search_field == 'telefono' %}selected{% endif %}>Telefono</option>
            <option value="direccion" {% if search_field == 'direccion' %}selected{% endif %}>Direccion</option>
            <option value="fecha_registro" {% if search_field == 'fecha_registro' %}selected{% endif %}>Fecha Registro</option>
            <option value="documento" {% if search_field == 'documento' %}selected{% endif %}>Documento</option>
        </select>
        <button type="submit">Buscar</button>
    </form>

    <br>
    <a class="button-link ing" href="{{ url_for('index_cliente') }}">Ingresar Nuevo cliente</a>
    <a class="button-link ing" href="{{ url_for('historico_clientes') }}">Historico Clientes</a>
    <a class="button-link ing2" href="http://127.0.0.1:5030/index_principal">INICIO</a>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha Nacimiento</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Direccion</th>
                <th>Fecha Registro</th>
                <th>Tipo</th>
                <th>Documento</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in cliente %}
            <tr>
                <td>{{ cliente[0] }}</td>
                <td>{{ cliente[1] }}</td>
                <td>{{ cliente[2] }}</td>
                <td>{{ cliente[3] }}</td>
                <td>{{ cliente[4] }}</td>
                <td>{{ cliente[5] }}</td>
                <td>{{ cliente[6] }}</td>
                <td>{{ cliente[7] }}</td>
                <td>{{ cliente[8] }}</td>
                <td>
                    {% if cliente[8] == 'DNI' %}
                        {{ cliente[9] | format_dni }}
                    {% elif cliente[8] == 'RTN' %}
                        {{ cliente[9] }}
                    {% elif cliente[8] == 'Pasaporte' %}
                        {{ cliente[9] }}
                    {% endif %}
                </td>                
                <td>
                    <a class="button-link baa" href="#" onclick="openEditWindow('{{ url_for('edit_cliente', id_cliente=cliente[0]) }}')">Editar <i class='bx bx-edit' style='color:#000000'></i></a>
                    <a class="button-link bee" href="{{ url_for('eliminar_cliente', id_cliente=cliente[0]) }}">Eliminar <i class='bx bx-trash-alt' style='color:#000000'></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        function openEditWindow(url) {
            // Abre una ventana emergente con tamaño específico
            var width = 600;
            var height = 400;
            var left = (screen.width - width) / 2;
            var top = (screen.height - height) / 2;
            window.open(url, '_blank', 'toolbar=yes,scrollbars=yes,resizable=yes,top=' + top + ',left=' + left + ',width=' + width + ',height=' + height);
        }
    </script>
    </div>
</body>
</html>
