<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de Compra</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    
    <div class="container">
    <h1 style="text-align: center;">Detalles de Compra</h1>
    <br><form method="GET" action="{{ url_for('detalles_compra') }}">
        <input type="text" name="search" id="searchInput" placeholder="Buscar..." value="{{ search_query }}">
        <select id="searchDropdown" onchange="updateSearch()">
            <option value="">Id detalles</option>
            <option value="nombre_cliente">Id detalle</option>
            <option value="correo">Pedido</option>
            <option value="asunto">Empleado</option>
            <option value="estado">Producto</option>
            <option value="fecha">Precio</option>
        </select>
        <button type="submit">Buscar</button>
    </form><br>

    <a style="padding: 10px 15px; font-size: 16px;  width: auto; max-width: 100px;" class="button-link ing" href="{{ url_for('index_detalles') }}">Agregar nuevo detalle</a>
    <a href="http://127.0.0.1:5010/pedidos">
        <button type="button">Ir a Pedidos</button>
        <a class="button-link ing2"  href="http://127.0.0.1:5030/index_principal">INICIO</a>
    </a>
    <br>
<br>

    <table>
        <thead>
            <tr>
                <th>ID Detalle</th>
                <th>Pedido</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Subtotal</th>
                <th>Impuesto</th>
                <th>Total</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for detalle in detalles %}
            <tr>
                <td>{{ detalle[0] }}</td>
                <td>{{ detalle[1] }}</td>
                <td>{{ detalle[2] }}</td>
                <td>{{ detalle[3] }}</td>
                <td>{{ detalle[4] }}</td>
                <td>{{ detalle[5] }}</td>
                <td>{{ detalle[6] }}%</td>
                <td>{{ detalle[7] }}</td>
                <td>
                    <a class="button-link baa" href="{{ url_for('edit_detalle', id_detalle=detalle[0]) }}">Editar <i class='bx bx-edit' style='color:#000000'></i></a>
                    <form action="{{ url_for('delete_detalle', id_detalle=detalle[0]) }}" method="POST" style="display:inline;">
                        <button type="submit" class="button-link bee" onclick="return confirm('¿Estás seguro de que deseas eliminar este detalle?');">Eliminar <i class='bx bx-trash-alt' style='color:#000000'></i></button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div>
        {% if page > 1 %}
            <a href="{{ url_for('detalles_compra', page=page-1, per_page=per_page) }}">Anterior</a>
        {% endif %}

        {% if page < total_pages %}
            <a href="{{ url_for('detalles_compra', page=page+1, per_page=per_page) }}">Siguiente</a>
        {% endif %}
    </div>

    
</div>
</body>
</html>
