<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Devoluciones de Ventas</title>
</head>
<body>
    <div class="container">
        <h2>Devoluciones de Ventas</h2>

        <!-- Formulario de búsqueda -->
        <form method="get" action="{{ url_for('devoluciones_ventas') }}">
            <input type="text" name="search_query" placeholder="Buscar..." value="{{ search_query }}">
            <!-- Menú desplegable para seleccionar el campo de búsqueda -->
            <select name="search_criteria">
                <option value="id_devolucion" {% if search_criteria == 'id_devolucion' %}selected{% endif %}>ID Devolución</option>
                <option value="id_pedido" {% if search_criteria == 'id_pedido' %}selected{% endif %}>ID Pedido</option>
                <option value="id_detalle" {% if search_criteria == 'id_detalle' %}selected{% endif %}>ID Detalle</option>
                <option value="fecha_devolucion" {% if search_criteria == 'fecha_devolucion' %}selected{% endif %}>Fecha de Devolución</option>
                <option value="motivo" {% if search_criteria == 'motivo' %}selected{% endif %}>Motivo</option>
                <option value="cantidad_devuelta" {% if search_criteria == 'cantidad_devuelta' %}selected{% endif %}>Cantidad Devuelta</option>
            </select>
            <button type="submit">Buscar</button>
        </form>

        <br>
        <!-- Formulario para seleccionar el número de elementos por página -->
        <form method="get" action="{{ url_for('devoluciones_ventas') }}">
            <label for="per_page">Elementos por página:</label>
            <select name="per_page" id="per_page" onchange="this.form.submit()">
                <option value="5" {% if per_page == 5 %}selected{% endif %}>5</option>
                <option value="10" {% if per_page == 10 %}selected{% endif %}>10</option>
                <option value="25" {% if per_page == 25 %}selected{% endif %}>25</option>
            </select>
            <input type="hidden" name="search_query" value="{{ search_query }}">
            <input type="hidden" name="search_criteria" value="{{ search_criteria }}">
        </form>

        <br>
        <a class="button-link ing" href="{{ url_for('index_devoluciones_ventas') }}">Añadir una Devolucion</a>
        <a class="button-link ing2" href="http://127.0.0.1:5030/index_principal">INICIO</a>
        
        <!-- Tabla de resultados -->
        <table>
            <thead>
                <tr>
                    <th>ID Devolución</th>
                    <th>ID Pedido</th>
                    <th>Producto</th>
                    <th>Fecha de Devolución</th>
                    <th>Motivo</th>
                    <th>Cantidad Devuelta</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for devolucion in devoluciones %}
                <tr>
                    <td>{{ devolucion[0] }}</td>
                    <td>{{ devolucion[1] }}</td>
                    <td>{{ devolucion[3] }}</td>
                    <td>{{ devolucion[4] }}</td>
                    <td>{{ devolucion[5] }}</td>
                    <td>{{ devolucion[6] }}</td>
                    <td>
                        <a class="button-link baa" onclick="openEditWindow('{{ url_for('edit_devolucion_ventas', id_devolucion=devolucion[0]) }}')">Editar <i class='bx bx-edit' style='color:#000000'></i></a>
                        <a class="button-link bee" href="{{ url_for('eliminar_devolucion', id_devolucion=devolucion[0]) }}" onclick="return confirm('¿Estás seguro de que deseas eliminar esta devolución?');">Eliminar <i class='bx bx-trash-alt' style='color:#000000'></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Controles de paginación -->
        <div class="pagination">
            {% if page > 1 %}
                <a href="{{ url_for('devoluciones_ventas', search_criteria=search_criteria, search_query=search_query, page=page-1, per_page=per_page) }}">« Anterior</a>
            {% endif %}
            {% for p in range(1, total_pages + 1) %}
                <a href="{{ url_for('devoluciones_ventas', search_criteria=search_criteria, search_query=search_query, page=p, per_page=per_page) }}" {% if p == page %}class="active"{% endif %}>{{ p }}</a>
            {% endfor %}
            {% if page < total_pages %}
                <a href="{{ url_for('devoluciones_ventas', search_criteria=search_criteria, search_query=search_query, page=page+1, per_page=per_page) }}">Siguiente »</a>
            {% endif %}
        </div>
        

        <script>
            function openEditWindow(url) {
                window.open(url, "_blank", "width=600,height=400");
            }
        </script>
    </div>
</body>
</html>
