<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Devoluciones</title>
</head>
<body>
    <h1>Lista de Devoluciones</h1>
    <a class="button-link ing" href="{{ url_for('index_devolucion') }}">Volver al Inicio</a>
    <a class="button-link ing2" href="http://127.0.0.1:5501/index.html">INICIO</a>
    <form method="get" action="{{ url_for('devolucion') }}">
        <select name="filter_key">
            <option value="id">ID</option>
            <option value="correo">Correo</option>
            <option value="nombre">Nombre</option>
            <option value="estado">Estado</option>
            <option value="descripcion">Descripción</option>
            <option value="fecha">Fecha</option>
        </select>
        <input type="text" name="filter_value" placeholder="Buscar..." value="{{ filter_value or '' }}">
        <button type="submit">Buscar</button>
    </form>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Correo</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Descripción</th>
            <th>Fecha</th>
            <th>Acciones</th>
        </tr>
        {% for devolucion in devoluciones %}
        <tr>
            <td>{{ devolucion[0] }}</td>
            <td>{{ devolucion[1] }}</td>
            <td>{{ devolucion[2] }}</td>
            <td>{{ devolucion[3] }}</td>
            <td>{{ devolucion[4] }}</td>
            <td>{{ devolucion[5] }}</td>
            <td>
                <a class="button-link baa" href="#" onclick="openEditWindow('{{ url_for('edit_devolucion', id=devolucion[0]) }}')">Editar <i class='bx bx-edit' style='color:#000000'></i></a>
                <a class="button-link bee" href="{{ url_for('eliminar_devolucion', id=devolucion[0]) }}">Eliminar <i class='bx bx-trash-alt' style='color:#000000'></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <div class="pagination">
        {% if page > 1 %}
            <a href="{{ url_for('devolucion', page=page-1, filter_key=filter_key, filter_value=filter_value) }}">Anterior</a>
        {% endif %}
        
        {% for i in range(1, (total_devoluciones // per_page) + 2) %}
            {% if i == page %}
                <strong>{{ i }}</strong>
            {% else %}
                <a href="{{ url_for('devolucion', page=i, filter_key=filter_key, filter_value=filter_value) }}">{{ i }}</a>
            {% endif %}
        {% endfor %}

        {% if (page * per_page) < total_devoluciones %}
            <a href="{{ url_for('devolucion', page=page+1, filter_key=filter_key, filter_value=filter_value) }}">Siguiente</a>
        {% endif %}
    </div>
    
    <script>
        // Función para abrir la ventana de edición en una nueva ventana emergente
        function openEditWindow(url) {
            window.open(url, "_blank", "width=600,height=400");
        }
    </script>
</body>
</html>
