<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Transacción</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Editar Transacción</h1>
        <form id="editForm" action="{{ url_for('edit_transaccion', id_transaccion=transaccion[0]) }}" method="POST">
            <label for="nombre_cliente">Nombre del Cliente:</label>
            <input type="text" id="nombre_cliente" name="nombre_cliente" value="{{ transaccion[1] }}" required><br>

            <label for="correo">Correo:</label>
            <input type="email" id="correo" name="correo" value="{{ transaccion[2] }}" required><br>

            <label for="descripcion">Descripción:</label>
            <input type="text" id="descripcion" name="descripcion" value="{{ transaccion[3] }}" required><br>

            <label for="monto">Monto:</label>
            <input type="number" id="monto" name="monto" value="{{ transaccion[4] }}" required><br>

            <label for="fecha">Fecha:</label>
            <input type="date" id="fecha" name="fecha" value="{{ transaccion[5] }}" required><br>

            <button type="submit">Actualizar Transacción</button>
        </form>
        <a href="#" onclick="closeWindow()">Cerrar ventana</a> <!-- Opcional: enlace para cerrar manualmente -->
    </div>

    <script>
        function closeWindow() {
            // Cierra la ventana actual
            window.close();
        }

        // Maneja la respuesta después de enviar el formulario
        document.getElementById('editForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Previene el envío estándar del formulario

            // Realiza la solicitud AJAX para enviar el formulario
            var formData = new FormData(this);
            fetch(this.action, {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (response.ok) {
                    // Cierra la ventana actual
                    closeWindow();
                    // Redirige a transacciones.html en la ventana principal
                    window.opener.location.href = "{{ url_for('transacciones') }}";
                } else {
                    throw new Error('Error al actualizar la transacción');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                // Puedes manejar errores aquí si es necesario
            });
        });
    </script>
</body>
</html>
