<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Mantenimiento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Editar Mantenimiento</h1>
        <form action="{{ url_for('edit_mantenimiento', id_mantenimiento=mantenimiento[0]) }}" method="POST">
            <label for="id_equipo">ID del Equipo:</label>
            <select id="id_equipo" name="id_equipo" required>
                <option value="">Seleccione una opción</option>
                <option value="3030" {% if mantenimiento[1] == '3030' %}selected{% endif %}>3030</option>
                <option value="0909" {% if mantenimiento[1] == '0909' %}selected{% endif %}>0909</option>
                <option value="2222" {% if mantenimiento[1] == '2222' %}selected{% endif %}>2222</option>
            </select>
            
            <label for="fecha">Fecha:</label>
            <input type="date" id="fecha" name="fecha" value="{{ mantenimiento[2] }}" required>
            
            <label for="tipo">Tipo:</label>
            <select id="tipo" name="tipo" required>
                <option value="">Seleccione una opción</option>
                <option value="electrico" {% if mantenimiento[3] == 'electrico' %}selected{% endif %}>Eléctrico</option>
                <option value="mecanico" {% if mantenimiento[3] == 'mecanico' %}selected{% endif %}>Mecánico</option>
                <option value="automatico" {% if mantenimiento[3] == 'automatico' %}selected{% endif %}>Automático</option>
                <option value="no automatico" {% if mantenimiento[3] == 'no automatico' %}selected{% endif %}>No Automático</option>
            </select>
            
            <label for="detalles">Detalles:</label>
            <textarea id="detalles" name="detalles" required>{{ mantenimiento[4] }}</textarea>
            
            <label for="estado">Estado:</label>
            <select id="estado" name="estado" required>
                <option value="">Seleccione una opción</option>
                <option value="bueno" {% if mantenimiento[5] == 'bueno' %}selected{% endif %}>Bueno</option>
                <option value="medio" {% if mantenimiento[5] == 'medio' %}selected{% endif %}>Medio</option>
                <option value="malo" {% if mantenimiento[5] == 'malo' %}selected{% endif %}>Malo</option>
                <option value="en reparacion" {% if mantenimiento[5] == 'en reparacion' %}selected{% endif %}>En Reparación</option>
            </select>
            
            <label for="documento">Documento:</label>
            <input type="text" id="documento" name="documento" value="{{ mantenimiento[6] }}" required pattern="^[01]\d{12}$" title="El documento debe contener exactamente 13 dígitos, iniciar con 0 o 1 y ser un número positivo.">
            
            <button type="submit">Actualizar Mantenimiento</button>
        </form>
        <a href="{{ url_for('mantenimientos') }}">Regresar</a>
    </div>
</body>
</html>
