<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Editar Descuento</title>
    <script>
        function validateForm() {
            const nombre = document.getElementById('nombre').value;
            const descripcion = document.getElementById('descripcion').value;
            let valor = document.getElementById('valor').value;

            // Validaciones generales
            const hasRepeatedChars = (str) => /(.)\1\1/.test(str);
            const hasSigns = (str) => /[^a-zA-Z0-9\s]/.test(str);
            const hasNumbers = (str) => /\d/.test(str);
            const hasLetters = (str) => /[a-zA-Z]/.test(str);

            if (hasRepeatedChars(nombre) || hasRepeatedChars(descripcion)) {
                alert('No se permiten tres letras repetidas consecutivas');
                return false;
            }
            // Validar el valor
            const percentagePattern = /^\d+(\.\d+)?%$/;
            const numberPattern = /^\d+(\.\d+)?$/;
            if (!percentagePattern.test(valor) && !numberPattern.test(valor)) {
                alert('El valor debe ser un número o un porcentaje (e.g., 15 o 15%)');
                return false;
            }

            // Remover % para la validación numérica
            if (valor.endsWith('%')) {
                valor = valor.slice(0, -1);
            }

            if (isNaN(valor)) {
                alert('El valor debe ser un número');
                return false;
            }

            return true;
        }
    </script>
</head>
<body>
    <div class="container">
        <h2>Editar Descuento</h2>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <form action="{{ url_for('editar_promocion', id_promocion=promocion[0]) }}" method="post" onsubmit="return validateForm()">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" value="{{ promocion[1] }}" required><br><br>
            <label for="valor">Valor:</label>
            <input type="text" id="valor" name="valor" value="{{ promocion[2] }}" required><br><br>
            <input type="submit" value="Actualizar">
        </form>
        
        <br>
        <a href="{{ url_for('promocion') }}">Lista de Descuentos</a>
    </div>
</body>
</html>
