<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Capacitación</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Editar Capacitación</h1>
        <form id="editForm" method="POST" action="{{ url_for('edit_capacitacion', id_capacitacion=capacitacion[0]) }}">
            <label>Empleado:</label>
            <select name="id_empleado" required>
                {% for empleado in empleados %}
                    <option value="{{ empleado[0] }}" {% if empleado[0] == capacitacion[1] %}selected{% endif %}>{{ empleado[1] }}</option>
                {% endfor %}
            </select><br><br>
            
            <label>Tema:</label>
            <input type="text" name="tema" value="{{ capacitacion[2] }}" required><br><br>
            
            <label for="fecha_capacitacion">Fecha y Hora de Capacitación:</label>
            <input type="datetime-local" id="fecha_capacitacion" name="fecha_capacitacion" required value="{{ capacitacion[3].strftime('%Y-%m-%dT%H:%M') }}">
            
            <label>Duración:</label>
            <input type="text" name="duracion" value="{{ capacitacion[4] }}" required><br><br>
            
            <label>Resultado:</label>
            <input type="text" name="resultado" value="{{ capacitacion[5] }}" required><br><br>
            
            <button type="submit">Guardar Cambios</button>
        </form>
        <br>
        <a href="#" onclick="closeWindow()">Cerrar ventana</a>
    </div>

    <script>
        function closeWindow() {
            window.close();
        }

        document.getElementById('editForm').addEventListener('submit', function(event) {
            event.preventDefault();
    
            var formData = new FormData(this);
    
            fetch(this.action, {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (response.ok) {
                    if (window.opener) {
                        window.opener.location.reload();
                    }
                    closeWindow();
                } else {
                    throw new Error('Error al actualizar la capacitación');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    </script>
</body>
</html>
