<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Editar Devolución</title>
</head>
<body>
    <div class="container">
        <h1>Editar Devolución</h1>
        <form id="editForm" action="{{ url_for('edit_devolucion', id=devolucion[0]) }}" method="post">
            <label for="correo">Correo:</label>
            <input type="text" id="correo" name="correo" value="{{ devolucion[1] }}"><br>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" value="{{ devolucion[2] }}"><br>
            <label for="estado">Estado:</label>
            <select id="estado" name="estado">
                <option value="malo" {% if devolucion[3] == 'malo' %}selected{% endif %}>Malo</option>
                <option value="medio" {% if devolucion[3] == 'medio' %}selected{% endif %}>Medio</option>
                <option value="bueno" {% if devolucion[3] == 'bueno' %}selected{% endif %}>Bueno</option>
            </select><br>
            <label for="descripcion">Descripción:</label>
            <input type="text" id="descripcion" name="descripcion" value="{{ devolucion[4] }}"><br>
            <label for="fecha">Fecha:</label>
            <input type="date" id="fecha" name="fecha" value="{{ devolucion[5] }}"><br>
            <button type="submit">Actualizar</button>
        </form>
        
        <br>
        <a href="#" onclick="closeWindow()">Cerrar ventana</a> <!-- Opcional: enlace para cerrar manualmente -->
    </div>

    <script>
        function closeWindow() {
            // Cierra la ventana actual
            window.close();
        }

        // Maneja la respuesta después de enviar el formulario
        document.getElementById('editForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Previene el envío estándar del formulario

            // Realiza la solicitud AJAX para enviar el formulario
            var formData = new FormData(this);
            fetch(this.action, {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (response.ok) {
                    // Cierra la ventana actual
                    closeWindow();
                    // Redirige a devolucion.html en la ventana principal
                    window.opener.location.href = "{{ url_for('devolucion') }}";
                } else {
                    throw new Error('Error al actualizar la devolución');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                // Puedes manejar errores aquí si es necesario
            });
        });
    </script>
</body>
</html>
