<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Editar Usuarios</title>
</head>
<body>
    <div class="container">
        <h2>Editar usuario</h2>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <form id="editForm" action="{{ url_for('edit_usuarios', id_usuario=usuario[0]) }}" method="post">
            <label for="primer_nombre">Primer Nombre:</label>
            <input type="text" id="primer_nombre" name="primer_nombre" value="{{ usuario[1] }}" required><br><br>
            <label for="primer_apellido">Primer Apellido:</label>
            <input type="text" id="primer_apellido" name="primer_apellido" value="{{ usuario[2] }}" required><br><br>
            <label for="correo">Correo:</label>
            <input type="text" id="correo" name="correo" value="{{ usuario[3] }}" required><br><br>
            <label for="password">Contraseña:</label>
            <input type="text" id="password" name="password" value="{{ usuario[4] }}" required><br><br>
            <label for="usuario_activo">Usuario activo:</label>
            <select id="usuario_activo" name="usuario_activo" required>
              <option value="1" {% if usuario[5] == 1 %}selected{% endif %}>1</option>
              <option value="0" {% if usuario[5] == 0 %}selected{% endif %}>0</option>
            </select><br><br>
            <label for="super_usuario">Super usuario:</label>
            <select id="super_usuario" name="super_usuario" required>
              <option value="1" {% if usuario[6] == 1 %}selected{% endif %}>1</option>
              <option value="0" {% if usuario[6] == 0 %}selected{% endif %}>0</option>
            </select><br><br>
            <label for="id_sucursal">Sucursal:</label>
            <select id="id_sucursal" name="id_sucursal" required>
              {% for sucursal in sucursales %}
                <option value="{{ sucursal[0] }}" {% if usuario[7] == sucursal[0] %}selected{% endif %}>{{ sucursal[1] }}</option>
              {% endfor %}
            </select><br><br>
            <input type="submit" value="Actualizar">
        </form>

        <br>
        <a href="{{ url_for('usuarios') }}">Lista de Usuarios</a>
    </div>
</body>
</html>
