<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Eliminar Encuesta</title>
</head>
<body>
    <h1>Eliminar Encuesta</h1>
    <p>¿Estás seguro que deseas eliminar la encuesta de {{ encuesta[1] }}?</p>
    <form action="{{ url_for('eliminar_encuestas', id_encuesta=encuesta[0]) }}" method="post">
        <input type="submit" value="Eliminar">
    </form>
    <a href="{{ url_for('encuestas') }}">Cancelar</a>
</body>
</html>
