<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Eliminar productos</title>
</head>
<body>
    <div class="container">
        <h2>Eliminar productos</h2>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <form action="{{ url_for('eliminar', Id_producto=producto[0]) }}" method="post">
            <label for="name">Nombre:</label>
            <input type="text" id="nombre" name="nombre" value="{{ producto[1] }}" readonly><br><br>
            <label for="gender">Categoria:</label>
            <input type="text" id="categoria" name="categoria" value="{{ producto[2] }}" readonly><br><br>
            <label for="nationality">Precio:</label>
            <input type="text" id="precio" name="precio" value="{{ producto[3] }}" readonly><br><br>
            <form action="{{ url_for('eliminar', Id_producto=producto[0]) }}" method="post" style="display:inline;">
                <button type="submit" onclick="return confirm('estas seguro de eliminar este producto? {{producto[1]}}');">Eliminar</button>
        </form>
        
        <br>
        <a href="{{ url_for('producto') }}">lista de productos</a>
    </div>
</body>
</html>