<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Eliminar Transacción</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Eliminar Transacción</h1>
    <p>¿Estás seguro de que deseas eliminar la transacción de {{ transaccion[1] }}?</p>
    <form action="{{ url_for('eliminar_transaccion', id_transaccion=transaccion[0]) }}" method="POST">
        <button type="submit">Eliminar</button>
        <a href="{{ url_for('transacciones') }}">Cancelar</a>
    </form>
</body>
</html>
