<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Encuestas</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Lista de Encuestas</h1>

    <form method="get" action="{{ url_for('encuestas') }}">
        <input type="text" name="search" placeholder="Buscar encuestas..." value="{{ search_query }}">
        <select name="search_field">
            <option value="cliente" {% if search_field == 'cliente' %}selected{% endif %}>Cliente</option>
            <option value="Fecha" {% if search_field == 'Fecha' %}selected{% endif %}>Fecha</option>
            <option value="puntuacion" {% if search_field == 'puntuacion' %}selected{% endif %}>Puntuación</option>
            <option value="comentarios" {% if search_field == 'comentarios' %}selected{% endif %}>Comentarios</option>
        </select>
        <button type="submit">Buscar</button>
    </form>
    

    <a class="button-link ing" href="{{ url_for('index_encuestas') }}">Ingresar Datos de Encuesta</a>
    <a class="button-link ing" href="http://127.0.0.1:5501/index.html">INICIO</a>

    <table>
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Fecha</th>
                <th>Puntuación</th>
                <th>Comentarios</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for encuesta in encuestas %}
                <tr>
                    <td>{{ encuesta[1] }}</td>
                    <td>{{ encuesta[2] }}</td>
                    <td>{{ encuesta[3] }}</td>
                    <td>{{ encuesta[4] }}</td>
                    <td>
                        <a class="button-link baa" href="#" onclick="openEditWindow('{{ url_for('edit_encuestas', id_encuesta=encuesta[0]) }}')">Editar <i class='bx bx-edit' style='color:#000000'></i></a>
                        <a class="button-link bee" href="{{ url_for('eliminar_encuestas', id_encuesta=encuesta[0]) }}">Eliminar <i class='bx bx-trash-alt' style='color:#000000'></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        {% if page > 1 %}
        <a href="{{ url_for('encuestas', page=page-1, search=search_query) }}">&laquo; Anterior</a>
        {% endif %}
        {% for p in range(1, total_pages + 1) %}
        <a href="{{ url_for('encuestas', page=p, search=search_query) }}" class="{{ 'active' if p == page else '' }}">{{ p }}</a>
        {% endfor %}
        {% if page < total_pages %}
        <a href="{{ url_for('encuestas', page=page+1, search=search_query) }}">Siguiente &raquo;</a>
        {% endif %}
    </div>

    <script>
        // Función para abrir la ventana de edición en una nueva ventana emergente
        function openEditWindow(url) {
            window.open(url, "_blank", "width=600,height=400");
        }
    </script>
</body>
</html>
