<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Equipos</title>
</head>
<body>
    <div class="container">
        <h2>Lista de Equipos</h2>

        <!-- Formulario de búsqueda -->
        <form method="GET" action="{{ url_for('equipos') }}">
            <input type="text" name="search" placeholder="Buscar" value="{{ search_query }}">
            <button type="submit">Buscar</button>
        </form>

        <br>
        
        <!-- Formulario para seleccionar el número de elementos por página -->
        <form method="get" action="{{ url_for('equipos') }}">
            <label for="per_page">Elementos por página:</label>
            <select name="per_page" id="per_page" onchange="this.form.submit()">
                <option value="5" {% if per_page == 5 %}selected{% endif %}>5</option>
                <option value="10" {% if per_page == 10 %}selected{% endif %}>10</option>
                <option value="25" {% if per_page == 25 %}selected{% endif %}>25</option>
            </select>
            <input type="hidden" name="search" value="{{ search_query }}">
        </form>

        <br>
        
        <a class="button-link ing" href="{{ url_for('index_equipo') }}">Ingresar Equipo</a>
        <a class="button-link ing2" href="http://127.0.0.1:5030/index_principal">INICIO</a>

        <!-- Tabla de resultados -->
        <table>
            <thead>
                <tr>
                    <th>ID Equipo</th>
                    <th>Tipo</th>
                    <th>Modelo</th>
                    <th>Número de Serie</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for equipo in equipos %}
                <tr>
                    <td>{{ equipo[0] }}</td>
                    <td>{{ equipo[1] }}</td>
                    <td>{{ equipo[2] }}</td>
                    <td>{{ equipo[3] }}</td>
                    <td>{{ equipo[4] }}</td>
                    <td>
                        <a class="button-link baa" href="{{ url_for('edit_equipo', id_equipo=equipo[0]) }}">Editar <i class='bx bx-edit' style='color:#000000'></i></a>
                        <a class="button-link bee" href="{{ url_for('eliminar_equipo', id_equipo=equipo[0]) }}">Eliminar <i class='bx bx-trash-alt' style='color:#000000'></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Controles de paginación -->
        <div class="pagination">
            {% if page > 1 %}
                <a href="{{ url_for('equipos', page=page-1, search=search_query, per_page=per_page) }}">« Anterior</a>
            {% endif %}
            {% for p in range(1, total_pages + 1) %}
                <a href="{{ url_for('equipos', page=p, search=search_query, per_page=per_page) }}" {% if p == page %}class="active"{% endif %}>{{ p }}</a>
            {% endfor %}
            {% if page < total_pages %}
                <a href="{{ url_for('equipos', page=page+1, search=search_query, per_page=per_page) }}">Siguiente »</a>
            {% endif %}
        </div>

        <script>
            function openEditWindow(url) {
                window.open(url, "_blank", "width=600,height=400");
            }
        </script>
    </div>
</body>
</html>
