<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Ideas de Mejora</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Lista de Ideas de Mejora</h1>
    <form method="GET" action="{{ url_for('ideas') }}">
        <label for="search_criteria">Buscar por:</label>
        <select name="search_criteria" id="search_criteria">
            <option value="documento">Documento</option>
            <option value="fecha_propuesta">Fecha Propuesta</option>
            <option value="descripcion_idea">Descripción de la Idea</option>
            <option value="estado">Estado</option>
        </select>
        <input type="text" name="search_query" placeholder="Buscar...">
        <button type="submit">Buscar</button>
    </form>
    <a class="button-link ing" href="{{ url_for('index_ideas') }}">Ingresar Datos de Idea</a>
    <a class="button-link ing2" href="http://127.0.0.1:5501/index.html">INICIO</a>
    <table>
        <thead>
            <tr>
                <th>Documento</th>
                <th>Fecha Propuesta</th>
                <th>Descripción de la Idea</th>
                <th>Estado</th>
                <th>Fecha Implementación</th>
                <th>Descripción de la Implementación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for idea in ideas %}
            <tr>
                <td>{{ idea[1] }}</td>
                <td>{{ idea[2] }}</td>
                <td>{{ idea[3] }}</td>
                <td>{{ idea[4] }}</td>
                <td>{{ idea[5] }}</td>
                <td>{{ idea[6] }}</td>
                <td>
                    <a class="button-link baa" href="{{ url_for('edit_idea', id_mejora=idea[0]) }}">Editar <i class='bx bx-edit' style='color:#000000'></i></a>
                    <a class="button-link bee" href="{{ url_for('eliminar_idea', id_mejora=idea[0]) }}">Eliminar <i class='bx bx-trash-alt' style='color:#000000'></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        {% if page > 1 %}
        <a href="{{ url_for('ideas', page=page-1, search_criteria=search_criteria, search_query=search_query) }}">Anterior</a>
        {% endif %}
        {% if page < total_pages %}
        <a href="{{ url_for('ideas', page=page+1, search_criteria=search_criteria, search_query=search_query) }}">Siguiente</a>
        {% endif %}
    </div>
</body>
</html>
