<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Ingresar Descuento
    </title>
    <script>
        function validateForm() {
            const nombre = document.getElementById('nombre').value;
            const descripcion = document.getElementById('descripcion').value;
            const valor = document.getElementById('valor').value;

            // Validaciones generales
            const hasRepeatedChars = (str) => /(.)\1\1/.test(str);
            const hasSigns = (str) => /[^a-zA-Z0-9\s]/.test(str);
            const hasNumbers = (str) => /\d/.test(str);
            const hasLetters = (str) => /[a-zA-Z]/.test(str);

            if (!nombre || !descripcion || !valor) {
                alert('Todos los campos son obligatorios');
                return false;
            }
    
            if (hasRepeatedChars(nombre) || hasRepeatedChars(descripcion)) {
                alert('No se permiten tres letras repetidas consecutivas');
                return false;
            }
            if (hasSigns(nombre) || hasSigns(descripcion)) {
                alert('No se permiten signos');
                return false;
            }
            if (hasNumbers(nombre) || hasNumbers(descripcion) || (!/^\d+(\.\d+)?$/.test(valor))) {
                alert('No se permiten números en campos de texto y viceversa');
                return false;
            }

            return true;
        }
    </script>
</head>
<body>
    <div class="container">
        <h2>Ingresar Descuento</h2>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <form action="{{ url_for('agregar_promocion') }}" method="post" onsubmit="return validateForm()">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required><br><br>
            <label for="valor">Valor:</label>
            <input type="text" id="valor" name="valor" required><br><br>
            <input type="submit" value="Guardar">
        </form>
        
        <br>
        <a href="{{ url_for('promocion') }}">Lista de Descuentos<</a>
    </div>
</body>
</html>
