<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ingresar datos de Encuesta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Ingresar datos de la encuesta</h2>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <form action="{{ url_for('submit') }}" method="post">
            <label for="cliente">Cliente:</label>
            <input type="text" id="cliente" name="cliente" required><br><br>
            <label for="fecha">Fecha:</label>
            <input type="date" id="fecha" name="fecha" required><br><br>
            <label for="puntuacion">Puntuación:</label>
            <input type="text" id="puntuacion" name="puntuacion" required><br><br>
            <label for="comentarios">Comentarios:</label>
            <input type="text" id="comentarios" name="comentarios" required><br><br>
            <input type="submit" value="Guardar">
        </form> 
        <br>
        <a href="{{ url_for('encuestas') }}">Datos de Encuestas</a>
    </div>
</body>
</html>
