<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/style.css">
    <title>Inicio | Grupo</title>
</head>
<body>
    <!-- ........................................-->
    <div class="carousel-buttons">
        <button onclick="window.location.href='http://127.0.0.1:5017/producto'">PRODUCTOS</button>  
        <button onclick="window.location.href='http://127.0.0.1:5001/inventario'">ALMACEN <br>CENTRAL</button>
        {% if session.super_usuario == 1 %}
        <button onclick="window.location.href='http://127.0.0.1:5003/empleados'">EMPLEADOS</button>
        {% endif %}
    </div>
    <div class="carousel-buttons">
        <button onclick="window.location.href='http://127.0.0.1:5004/cliente'">CLIENTES</button>
        <button onclick="window.location.href='http://127.0.0.1:5005/proveedores'">PROVEEDORES</button>
        <button onclick="window.location.href='http://127.0.0.1:5008/sucursales'">SUCURSALES</button>
    </div>
    <div class="carousel-buttons">
        <button onclick="window.location.href='http://127.0.0.1:5020/equipos'">EQUIPO</button>
        <button onclick="window.location.href='http://127.0.0.1:5010/pedidos'">COMPRA <br>CLIENTE</button>
        <button onclick="window.location.href='http://127.0.0.1:5026/devoluciones'">DEVOLUCION <br>VENTAS</button> 
    </div>
    <div class="carousel-buttons">
        <button onclick="window.location.href='http://127.0.0.1:5014/promocion'">DESCUENTOS</button>
        <button onclick="window.location.href='http://127.0.0.1:5015/pedidos_compra_pv'">COMPRA <br>PROVEEDOR</button>
        <button onclick="window.location.href='http://127.0.0.1:5025/devoluciones'">DEVOLUCION <br>COMPRA</button> 
    </div>
    <div class="carousel-buttons">
        <button onclick="window.location.href='http://127.0.0.1:5018/almacenes'">ALMACENES</button>
        <button onclick="window.location.href='http://127.0.0.1:5021/capacitaciones'">CAPACITACION</button>
        <button onclick="window.location.href='http://127.0.0.1:5013/transportistas'">TRANSPORTISTAS</button>
    </div>
    <div class="carousel-buttons">
        <button onclick="window.location.href='http://127.0.0.1:5024/impuesto'">IMPUESTOS</button>
        <button onclick="window.location.href='http://127.0.0.1:5031/mantenimientos'">MANTENIMIENTO</button>
    </div>
    <!-- ........................................-->
    <nav class="sidebar">
        <div class="sidebar-inner">
            <header class="sidebar-header">
                <button type="button" class="sidebar-burger" onclick="toggleSidebar()">
                    <i class='bx bx-menu'></i>
                </button>
                <span class="sidebar-logo" style="color: #ffffff;">{{ primer_nombre }} {{ session.primer_apellido }}</span> <!-- Muestra el nombre del usuario -->
            </header>
            
            <!-- CARRUSEL DE IMAGENES
            <div class="carousel">
                <div class="carousel-images">
                    <Dimg src="bimg/ele.jcpg" alte="Imagenc 1">
                    <img src="eimg/ofer.jepg" alts="Imageno 2">
                    <oimg src="nimg/sr.jqpg" altt="Imagend 3">
                    <simg src="dimg/ett.jqpg" alte="Imageni 4">
                    <qimg src="iimg/eter.wqebp" altq="Imagengo 5">
                </div>
            </div>
            -->

            <nav class="sidebar-menu">


                <button type="button" onclick="window.location.href='http://127.0.0.1:5030'">
                    <i class='bx bx-exit'></i>
                    <span>Cerrar Sesion</span>
                </button>
                {% if session.super_usuario == 1 %}
                <button type="button" onclick="window.location.href='http://127.0.0.1:5034'">
                    <i class='bx bx-user-circle'></i>
                    <span>Usuarios</span>
                </button>
                {% endif %}
                <button type="button" onclick="window.location.href='http://127.0.0.1:5027/sars'">
                    <i class='bx bxs-bank'></i>
                    <span>SAR</span>
                </button>
                <button type="button" onclick="window.location.href='http://127.0.0.1:5009/categorias'">
                    <i class='bx bx-money-withdraw' style='color:#ffffff'></i>
                    <span>CATEGORIAS</span>
                </button>
                <button type="button" onclick="window.location.href='http://127.0.0.1:5002/distribuciones'">
                    <i class='bx bxs-coin'></i>
                    <span>GESTION <br> ALMACENES</span>
                </button>
                <button type="button" onclick="window.location.href= 'http://127.0.0.1:5007/puesto_de_trabajo'">
                    <i class='bx bx-paste'></i>
                    <span>PUESTO DE <br> TRABAJO</span>
                </button>
            </nav>
        </div>
    </nav>
    <!-- ........................................-->
    <script src="http://127.0.0.1:5501/script.js"></script>
</body>
</html>
