<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ingresar Categoría</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Ingresar Categoría</h2>
        <form id="categoriaForm" action="{{ url_for('submit_categoria') }}" method="post">
            <label for="nombre_categoria">Nombre de la Categoría:</label>
            <input type="text" id="nombre_categoria" name="nombre_categoria" required><br><br>
            
            <label for="Descripcion">Descripción:</label>
            <input type="text" id="Descripcion" name="Descripcion" required><br><br>
            
            <input type="submit" value="Guardar">
        </form> 
        <br>
        <a href="{{ url_for('categorias') }}">Lista de categorías</a>
    </div>

    <script>
        document.getElementById('categoriaForm').addEventListener('submit', function(event) {
            let errors = [];

            // Validación del nombre de la categoría
            const nombreCategoria = document.getElementById('nombre_categoria').value;
            
            if (/\d/.test(nombreCategoria)) {
                errors.push('El nombre no puede contener números.');
            } 
            if (/[^a-zA-Z\s]/.test(nombreCategoria)) {
                errors.push('El nombre no puede contener caracteres especiales.');
            }
            if (nombreCategoria.length < 3 || nombreCategoria.length > 20) {
                errors.push('El nombre debe tener entre 3 y 20 caracteres.');
            }

            // Validación de la descripción
            const descripcion = document.getElementById('Descripcion').value;
            
            if (/\d/.test(descripcion)) {
                errors.push('La descripción no puede contener números.');
            }
            if (/[^a-zA-Z\s]/.test(descripcion)) {
                errors.push('La descripción no puede contener caracteres especiales.');
            }
            if (descripcion.length < 3 || descripcion.length > 50) {
                errors.push('La descripción debe tener entre 3 y 50 caracteres.');
            }

            // Si hay errores, prevenir el envío del formulario y mostrar los mensajes
            if (errors.length > 0) {
                event.preventDefault();
                alert(errors.join('\n'));
            }
        });
    </script>
</body>
</html>
