<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Ingresar datos de Configuración</title>
</head>
<body>
    <div class="container">
        <h2>Ingrese los datos de la configuración</h2>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <form action="{{ url_for('submit') }}" method="post">
            <label for="nombre_de_configuracion">Nombre de Configuración:</label>
            <input type="text" id="nombre_de_configuracion" name="nombre_de_configuracion" required><br><br>
            <label for="descripcion">Descripción:</label>
            <input type="text" id="descripcion" name="descripcion" required><br><br>
            <label for="estado_config">Estado de la configuracion:</label>
            <input type="text" id="estado_config" name="estado_config" required><br><br>
            <input type="submit" value="Guardar">
        </form> 
        <br>
        <a href="{{ url_for('configuraciones') }}">Lista de Configuraciones</a>
    </div>
</body>
</html>
