<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ingresar Transportista</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Ingresar Transportista</h2>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <form action="{{ url_for('submit_transportista') }}" method="post">
            <label for="nombre_empresa">Nombre de la Empresa:</label>
            <input type="text" id="nombre_empresa" name="nombre_empresa" required><br><br>
            
            <label for="Telefono">Teléfono:</label>
            <input type="text" id="Telefono" name="Telefono" required><br><br>
            
            <input type="submit" value="Guardar">
        </form> 
        <br>
        <a href="{{ url_for('transportistas') }}">Lista de transportistas</a>
    </div>
</body>
</html>
