<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>ingrese su producto</title>
</head>
<body>
    <div class="container">
        <h2>Ingrese su producto</h2>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <form action="{{ url_for('submit') }}" method="post">
            <label for="name">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required><br><br>
            <label for="gender">Categoria:</label>
            <input type="text" id="categoria" name="categoria" required><br><br>
            <label for="nationality">Precio:</label>
            <input type="text" id="precio" name="precio" required><br><br>
            <input type="submit" value="Guardar">
        </form>
        <br>
        <a value="lista de productos" href="{{ url_for('producto') }}">lista de productos</a>
    </div>
</body>
</html>