<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Index Devoluciones</title>
</head>
<body>
    <h1>Bienvenido al sistema de gestión de devoluciones</h1>
    <a href="{{ url_for('devolucion') }}">Ver Devoluciones</a>
    <h2>Agregar Nueva Devolución</h2>
    <form action="{{ url_for('submit') }}" method="post">
        <label for="correo">Correo:</label>
        <input type="text" id="correo" name="correo"><br>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre"><br>
        <label for="estado">Estado:</label>
        <select id="estado" name="estado">
            <option value="malo">Malo</option>
            <option value="medio">Medio</option>
            <option value="bueno">Bueno</option>
        </select><br>
        <label for="descripcion">Descripción:</label>
        <input type="text" id="descripcion" name="descripcion"><br>
        <label for="fecha">Fecha:</label>
        <input type="date" id="fecha" name="fecha"><br>
        <input type="submit" value="Agregar">
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</body>
</html>
