<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Mantenimiento de Equipos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Gestión de Mantenimiento de Equipos</h1>
        <form action="{{ url_for('submit') }}" method="POST">
            <label for="id_equipo">ID del Equipo:</label>
            <select id="id_equipo" name="id_equipo" required>
                <option value="">Seleccione una opción</option>
                <option value="3030">3030</option>
                <option value="0909">0909</option>
                <option value="2222">2222</option>
            </select>
            
            <label for="fecha">Fecha:</label>
            <input type="date" id="fecha" name="fecha" required>
            
            <label for="tipo">Tipo:</label>
            <select id="tipo" name="tipo" required>
                <option value="">Seleccione una opción</option>
                <option value="electrico">Eléctrico</option>
                <option value="mecanico">Mecánico</option>
                <option value="automatico">Automático</option>
                <option value="no automatico">No Automático</option>
            </select>
            
            <label for="detalles">Detalles:</label>
            <textarea id="detalles" name="detalles" required></textarea>
            
            <label for="estado">Estado:</label>
            <select id="estado" name="estado" required>
                <option value="">Seleccione una opción</option>
                <option value="bueno">Bueno</option>
                <option value="medio">Medio</option>
                <option value="malo">Malo</option>
                <option value="en reparacion">En Reparación</option>
            </select>
            
            <label for="documento">Documento:</label>
            <input type="text" id="documento" name="documento" required pattern="^[01]\d{12}$" title="El documento debe contener exactamente 13 dígitos, iniciar con 0 o 1 y ser un número positivo.">
            
            <button type="submit">Agregar Mantenimiento</button>
        </form>
        <a href="{{ url_for('mantenimientos') }}">Ver Mantenimientos</a>
    </div>
</body>
</html>
