<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Tabla de empleados</title>
</head>
<body>
    <div class="container">
        <h2>Tabla de empleados</h2>
        
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <form action="{{ url_for('submit') }}" method="post">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required><br><br>
            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" required><br><br>
            <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
            <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required><br><br>
            <label for="puesto">Puesto de Trabajo:</label>
              <select id="puesto_trabajo" name="puesto_trabajo" required>
                  <option value="Gerente Ventas">Gerente de Ventas</option>
                  <option value="Asesor de Ventas">Asesor de Ventas</option>
                  <option value="Tecnico de Servicio">Técnico de Servicio</option>
                  <option value="Especialista en Marketing">Especialista en Marketing</option>
                  <option value="Gerente de Inventario">Gerente de Inventario</option>
              </select>
              <br><br>

            <label for="fecha_contratacion">Fecha de Contratación:</label>
            <input type="date" id="fecha_contratacion" name="fecha_contratacion" required><br><br>
            <label for="sucursal">Sucursal:</label>
            <select id="sucursal" name="sucursal" required>
                {% for sucursal in sucursales %}
                <option value="{{ sucursal[1] }}">{{ sucursal[0] }}</option>
                {% endfor %}
            </select><br><br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email"><br><br>
            <label for="telefono">Teléfono:</label>
            <input type="text" id="telefono" name="telefono"><br><br>
            <label for="tipo">Tipo:</label>
            <select id="tipo" name="tipo" required>
              <option value="DNI ">DNI</option>
              <option value="Pasaporte">Pasaporte</option>
              <option value="RTN">RTN</option>
            </select><br><br>
            <label for="telefono">Documento:</label>
            <input type="text" id="documento" name="documento"><br><br>
            <input type="submit" value="Guardar">
        </form>
        <br>
        <a value="lista de empleados" href="{{ url_for('empleados') }}">Lista de empleados</a>
    </div>
</body>
</html>