<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Pedidos</title>
    <style>
        /* Estilos para el modal */
        .modal {
            display: none; 
            position: fixed; 
            z-index: 1; 
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto; 
            background-color: rgb(0,0,0); 
            background-color: rgba(0,0,0,0.4); 
            padding-top: 60px;
        }

        .modal-content {
            background-color: #fefefe;
            margin: 5% auto; 
            padding: 20px;
            border: 1px solid #888;
            width: 80%; 
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container">
    <br>
    <h1 style="text-align: center;">Pedidos</h1>
    <form method="get" action="{{ url_for('pedidos') }}">
        <a style="padding: 10px 15px; font-size: 16px; width: auto; max-width: 100px;" class="button-link ing" href="{{ url_for('index_pedido') }}">Ingresar Pedido de Cliente</a>
        <br>
        <a style="padding: 10px 15px; font-size: 16px; width: auto; max-width: 100px;" class="button-link ing2" href="http://127.0.0.1:5030/index_principal">INICIO</a>
        <br>
        <a href="http://127.0.0.1:5023/detalles_compra">
            <button type="button">Ir a Detalle de Compra</button>
        </a>
        
        <div>
        <br>
        <input type="text" name="search" style="padding: 10px 15px; font-size: 16px; width: auto; max-width: 250px;" placeholder="Buscar por cliente" value="{{ search_query }}">    
        <input type="submit" value="Buscar" style="padding: 10px 15px; font-size: 16px; width: auto; max-width: 100px;">
        </div>
        
    </form>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Empleado</th>
                <th>Numero Factura</th>
                <th>Sucursal</th>
                <th>Fecha Pedido</th>
                <th>Fecha Entrega Estimada</th>
                <th>Fecha Entrega</th>
                <th>Método de Pago</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in pedidos %}
                <tr>
                    <td>{{ pedido[0] }}</td> <!-- ID del pedido -->
                    <td>{{ pedido[1] }}</td> <!-- Nombre del cliente -->
                    <td>{{ pedido[8] }}</td> <!-- Empleado -->
                    <td>{{ pedido[2] }}</td> <!-- Número de Factura -->
                    <td>{{ pedido[9] }}</td> <!-- Sucursal -->
                    <td>{{ pedido[3] }}</td> <!-- Fecha de Pedido -->
                    <td>{{ pedido[4] }}</td> <!-- Fecha de Entrega Estimada -->
                    <td>{{ pedido[5] }}</td> <!-- Fecha de Entrega -->
                    <td>{{ pedido[6] }}</td> <!-- Método de Pago -->
                    <td>{{ pedido[7] }}</td> <!-- Estado -->
                    
                    <td>
                        <div>
                            <button class="open-modal" data-url="{{ url_for('edit_pedido', id_pedido=pedido[0]) }}">Editar <i class='bx bx-edit' style='color:#000000'></i></button>
                            <a class="button-link bee" href="{{ url_for('eliminar_pedido', id_pedido=pedido[0]) }}">Eliminar <i class='bx bx-trash-alt' style='color:#000000'></i></a>
                            {% if get_ver_pedido_apagado(pedido[0]) %}
                                <button class="open-modal" data-url="{{ url_for('ver_pedido', id_pedido=pedido[0]) }}">Ver <i class='bx bx-search-alt-2' style="color: rgb(0, 0, 0);"></i></button>
                            {% endif %}
                        </div>
                        
                        
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <select style="padding: 5px 7px; font-size: 10px; width: auto; max-width: 50px; display: block; margin: 0 auto;" name="per_page" onchange="this.form.submit()">
        <option value="5" {% if per_page == 5 %}selected{% endif %}>5</option>
        <option value="10" {% if per_page == 10 %}selected{% endif %}>10</option>
        <option value="15" {% if per_page == 15 %}selected{% endif %}>15</option>
    </select>
    <div class="pagination">
        {% if page > 1 %}
        <a href="{{ url_for('pedidos', page=page-1, per_page=per_page, search=search_query) }}">Anterior</a>
        {% endif %}
        {% if page < total_pages %}
        <a href="{{ url_for('pedidos', page=page+1, per_page=per_page, search=search_query) }}">Siguiente</a>
        {% endif %}
    </div>

    <!-- The Modal -->
    <div id="editModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <iframe id="modalIframe" src="" style="width: 100%; height: 80vh; border: none;"></iframe>
        </div>
    </div>

    <script>
        var modal = document.getElementById("editModal");
        var iframe = document.getElementById("modalIframe");
        var btns = document.getElementsByClassName("open-modal");
        var span = document.getElementsByClassName("close")[0];

        for (var i = 0; i < btns.length; i++) {
            btns[i].onclick = function() {
                iframe.src = this.getAttribute('data-url');
                modal.style.display = "block";
            }
        }

        span.onclick = function() {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</div>
</body>
</html>
