<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Seguimientos de Envío</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Lista de Seguimientos de Envío</h1>

    <!-- Formulario de búsqueda -->
    <form method="GET" action="{{ url_for('seguimientos') }}" id="searchForm">
        <div class="search-container">
            <label for="search_criteria" class="search-label">Buscar por:</label>
            <select name="search_criteria" id="search_criteria" class="search-criteria">
                <option value="s.id_seguimiento" {% if search_criteria == 's.id_seguimiento' %}selected{% endif %}>ID</option>
                <option value="p.id_pedido" {% if search_criteria == 'p.id_pedido' %}selected{% endif %}>ID Pedido</option>
                <option value="s.fecha_envio" {% if search_criteria == 's.fecha_envio' %}selected{% endif %}>Fecha de Envío</option>
                <option value="s.fecha_entrega_estimada" {% if search_criteria == 's.fecha_entrega_estimada' %}selected{% endif %}>Fecha Estimada de Entrega</option>
                <option value="s.fecha_entrega_real" {% if search_criteria == 's.fecha_entrega_real' %}selected{% endif %}>Fecha Real de Entrega</option>
                <option value="s.estado" {% if search_criteria == 's.estado' %}selected{% endif %}>Estado</option>
                <option value="t.nombre_empresa" {% if search_criteria == 't.nombre_empresa' %}selected{% endif %}>Transportista</option>
            </select>
            <input type="text" name="search_query" id="search_query" value="{{ search_query }}" placeholder="Buscar..." class="search-query">
        </div>
        <div class="per-page-group">
            <label for="per_page">Mostrar:</label>
            <select name="per_page" id="per_page">
                <option value="5" {% if per_page == 5 %}selected{% endif %}>5</option>
                <option value="10" {% if per_page == 10 %}selected{% endif %}>10</option>
                <option value="25" {% if per_page == 25 %}selected{% endif %}>25</option>
            </select>
            <input type="hidden" name="page" id="currentPage" value="{{ page }}">
        </div>
        <button type="submit" class="search-button">Buscar</button>
    </form>
    

    <a class="button-link ing" href="{{ url_for('index_seguimiento') }}">Ingresar Datos de Seguimiento</a>
    <a class="button-link ing2" href="http://127.0.0.1:5501/index.html">INICIO</a>

    <table>
        <tr>
            <th>ID Seguimiento</th>
            <th>ID Pedido</th>
            <th>Fecha de Envío</th>
            <th>Fecha Estimada de Entrega</th>
            <th>Fecha Real de Entrega</th>
            <th>Estado</th>
            <th>Transportista</th>
            <th>Acciones</th>
        </tr>
        {% for seguimiento in seguimientos %}
        <tr>
            <td>{{ seguimiento[0] }}</td>
            <td>{{ seguimiento[1] }}</td>
            <td>{{ seguimiento[2].strftime('%d-%m-%Y') }}</td>
            <td>{{ seguimiento[3].strftime('%d-%m-%Y') }}</td>
            <td>{{ seguimiento[4].strftime('%d-%m-%Y') if seguimiento[4] else 'N/A' }}</td>
            <td>{{ seguimiento[5] }}</td>
            <td>{{ seguimiento[6] }}</td>
            <td>
                <a class="button-link baa" href="#" onclick="openEditWindow('{{ url_for('edit_seguimiento', id_seguimiento=seguimiento[0]) }}'); return false;">
                    Editar <i class='bx bx-edit' style='color:#000000'></i>
                </a>
                <a class="button-link bee" href="{{ url_for('eliminar_seguimiento', id_seguimiento=seguimiento[0]) }}">
                    Eliminar <i class='bx bx-trash-alt' style='color:#000000'></i>
                </a>               
            </td>
        </tr>
        {% endfor %}
    </table>

    <script>
        function openEditWindow(url) {
            window.open(url, "_blank", "width=600,height=400");
        }

        document.getElementById('per_page').addEventListener('change', function() {
            var form = document.getElementById('searchForm');
            form.submit();
        });

        document.getElementById('search_criteria').addEventListener('change', function() {
            var searchQueryInput = document.getElementById('search_query');
            if (this.value === 's.fecha_envio' || this.value === 's.fecha_entrega_estimada' || this.value === 's.fecha_entrega_real') {
                searchQueryInput.type = 'date'; // Cambia el tipo a 'date' para mostrar solo la fecha
                searchQueryInput.value = ''; // Limpia el valor anterior si se cambia el tipo
            } else {
                searchQueryInput.type = 'text';
            }
        });

        // Inicializa el tipo del campo de entrada de búsqueda en función del criterio de búsqueda seleccionado
        document.getElementById('search_criteria').dispatchEvent(new Event('change'));
    </script>

    <div class="pagination">
        {% if page > 1 %}
        <a href="{{ url_for('seguimientos', page=page-1, per_page=per_page, search_criteria=search_criteria, search_query=search_query) }}">Anterior</a>
        {% endif %}

        {% for p in range(1, total_pages + 1) %}
        {% if p == page %}
        <strong>{{ p }}</strong>
        {% else %}
        <a href="{{ url_for('seguimientos', page=p, per_page=per_page, search_criteria=search_criteria, search_query=search_query) }}">{{ p }}</a>
        {% endif %}
        {% endfor %}

        {% if page < total_pages %}
        <a href="{{ url_for('seguimientos', page=page+1, per_page=per_page, search_criteria=search_criteria, search_query=search_query) }}">Siguiente</a>
        {% endif %}
    </div>
</body>
</html>
